html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  header
  {
    display: flex;
    justify-content: center;
      
  }
  nav ul{
      display: flex;
  }