<style>
        h1
        {
            font-family: sans-serif;
            font-style: italic;
            line-height: 1px;
            text-decoration: underline;
        }
        p
        {
            font-weight: 600;
            font-size: 3em;
            text-align: center;
        }
        body
        {
            font-size: 16px;
        }
        #Amarelo
        {
            background-color: yellow;
        }
        #Vermelho
        {
            background-color: red;
        }
        #Marrom
        {
            background-color: brown;
        }
    </style>